.items{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-left: 2%;
}

.item{
    margin: 10px;
    text-align: center;
}

.item_title{
    line-height: 22px;
    color: #333;
    display: block;
    font-size: 16px;
}

.item_desc{
    color: #8f8f8f;
    text-overflow: ellipsis;
    font-size: 14px;
}

.item_price{
    color:#333;
    font-size: 16px;
    display: block;
    line-height: 30px;
    margin-top: 10px;
}

.item_state{
    color: rgb(255, 251, 239);
    background-color: blue;
}

.list_type{
    color: #333;
    width: 100%;
    padding-bottom: 15px;
    border-bottom: 2px solid #000;
    font-size: 28px;
    line-height: 30px;
}

body{
    width: 100vw;
    display: flex;
    justify-content: center;
}

.list{
    width: 85vw;
}